{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="{% static 'jquery-3.6.3/jquery-3.6.3.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'popperjs-core-2.11.6/popper.min.js' %}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.css' %}">
    <title>TOROS Portal</title>
</head>
<body>
    {% block navbar %}
    {% include 'pages/navbar.html' %}
    {% endblock %}
    <div class="container-fluid">
            {% block content %}{% endblock %}
    </div>
</body>
</html>
