{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">

    <script src="{% static 'htmx-1.9.0/htmx.min.js' %}"></script>
    <title>TOROS Portal</title>
</head>
<body>
    {% block navbar %}
    {% include 'pages/navbar.html' %}
    {% endblock %}
    <div class="container-fluid">
            {% block content %}{% endblock %}
    </div>

    <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))</script>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
