{% load static %}
<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" fill="currentColor" role="img" aria-label="Moon stars"><use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#moon-stars"></use></svg>
        <span class="fs-4">Observation Portal</span>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#house"></use></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#speedometer2"></use></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="#controllers" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#joystick"></use></svg>
                Controllers
              </a>
            </li>
            <li>
                <a href="/devices" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#boxes"></use></svg>
                Site & Devices
              </a>
            </li>
            <li>
                <a href="#scheduler" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                        <use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#calendar2-range">
                        </use></svg>
                Scheduler
                </a>
            </li>
            <li>
                <a href="#routines" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                        <use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#arrow-repeat"></use></svg>
                Routines
                </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!--
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light text-dark me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
-->
    </header>
