{% load static %}
<div class="row flex-nowrap bg-secondary text-white">
    <div class="col-3 m-2 p-3">
        <a href="{% url 'controllers:index' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" fill="currentColor" role="img" aria-label="Moon stars"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#joystick"></use></svg>
        <span class="fs-4">Controllers</span>
        </a>
        <hr>
        <h4>Site {{site}}</h4>
        <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Site Select
        </button>
        <ul class="dropdown-menu">
            {% for site in sites %}
                <li><a class="dropdown-item" href="{% url 'controllers:site-detail' site.pk %}">{{site}}</a></li>
                        {% endfor %}
        </ul>
        </div>
        <hr>
        {% if site %}
        <h4>Devices</h4>
        
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDevices" aria-expanded="false" aria-controls="collapseDevices">
            Show/Hide 
        </button>
        <div class="collapse" id="collapseDevices">
            <ul class="nav flex-column nav-tabs">
                {% for device in site.device_site.all %}
                <li class="nav-item">
                    <a href="#" class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#device_{{device.id}}" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">  
                    <svg class="bi d-inline mx-auto mb-1" width="24" height="24" fill="currentColor">
                        {% if device.connected %}
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#lightbulb-fill"></use>
                        {% else %}
                            <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#lightbulb"></use>
                        {% endif %}
                     </svg>
                    {{ device }}
                </a>
            </li>
                {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
