{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
{% include 'controllers/navbar.html'%}    
{% include 'controllers/messages.html' %}

    <div class="col-sm-8 p-4 mx-auto h-50 text-bg-light rounded sticky-top"> 
        <h1> {{site}} </h1>
        <p>Click on device name to show/hide device controls.</p>
        {% for device in site.device_site.all %}
            <div class="collapse" id="device_{{device.id}}">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">{{device}}</h5>
                <div class="col-8 p-4 m-4 h-50 text-bg-light rounded sticky-top" id="telemetry_device_{{device.id}}">
                <button class="btn btn-primary"
                        id="btn_connect_device_{{device_id}}"
                        hx-get="{% url "controllers:device" device.id %}"
                        hx-target="#telemetry_device_{{device.id}}"
                        hx-swap="innerHTML"
                        >Connect</button>
                <h4>Not Connected</h4>
                <p class="text-muted">{% now "c" %}</p>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
