{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
{% include 'scheduler/navbar.html' %}   
{% include 'scheduler/messages.html' %}
<div class="p-4 p-md-5 mb-4 text-bg-light rounded">
    <h1> {{ Event.name }}</h1>
    <h2> Event Details </h2>
    <div class="btn-group" role="group" aria-label="Event options">
        <a class="btn btn-primary" href="{% url 'scheduler:update-event' pk=event.pk %}">Update</a>
        <a class="btn btn-danger"  href="{% url 'scheduler:delete-event' pk=event.pk %}">Delete Event</a>   
    </div>
    <div class="list-group">
        <div class="list-group-item list-group-item-action">
        <h4>ID</h4>
        <p> {{ event.pk }} </p>
        </div>
        <div class="list-group-item list-group-item-action">
        <h4>Event Name</h4>
        <p> {{ event.name }} </p>
         </div>
        <div class="list-group-item list-group-item-action">
       
        <h4>Start Time</h4> 
        <p> {{ event.event_start_datetime }} </p>
          </div>
        <div class="list-group-item list-group-item-action">
     
        <h4>End Time</h4>
        <p> {{ event.event_end_datetime }} </p>
           </div>
        <div class="list-group-item list-group-item-action">
     
        <h4>Site</h4>
        <p> {{ event.site }} </p>
            </div>
        <div class="list-group-item list-group-item-action">
    
        <h4>Routine</h4>
        <p> {{ event.routine }} </p>
             </div>
        <div class="list-group-item list-group-item-action">
   
        <h4>Manager</h4>
        <p> {{ event.manager }} </p>
              </div>
        <div class="list-group-item list-group-item-action">
  
        <h4>Description</h4>
        <p> {{ event.description }} </p>
               </div>
        <div class="list-group-item list-group-item-action">
 
        <h4>Category</h4>
        <p> {{ event.category }} </p>
        </div>

        </div>
</div>
{% endblock %}
