{% load tz %}
{% if messages %}
<script>
    const toastElList = document.querySelectorAll('.toast')
    const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl, option))
</script>
<div class="toast-container top-0 end-0 p-3">
    {% for message in messages %}
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bi me-2" width="40" height="32" fill="currentColor" role="img" aria-label="Moon stars"><use xlink:href="/static/bootstrap-icons-1.8.3/bootstrap-icons.svg#moon-stars"></use></svg>  
        <strong class="me-auto">Notice</strong>
        <small>{% now "r" %}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endif %}


