{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
{% include 'scheduler/navbar.html'%}    
{% include 'scheduler/messages.html' %}

<div class="p-4 p-md-5 mb-4 text-bg-light rounded">
    
    <h1> Schedule </h1>
    <div class="row">
        <div class="col">
            {{ calendar|safe }}
        </div>
        <div class="col mx-auto border rounded" style="width:75%">
            {% if event_list %}
            {% for event in event_list.all %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">{{ event.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                      {{ event.event_start_datetime }}
                  </h6>
                <span class="badge rounded-pill text-bg-success">
                    {{ event.category }}
                </span>
 
                <p class="card-text">
                {{ event.description|truncatechars:50 }}
                </p>
                <div class="btn-group">
                    <a class="btn btn-primary btn-sm" href="{% url 'scheduler:detail-event' pk=event.pk %}" role="button">Event Details</a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'scheduler:update-event' pk=event.pk %}" role="button">
                        <svg class="bi d-inline mx-auto mb-1" width="15" height="15" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#pencil"></use></svg>
                        Edit Event
                    </a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
        
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">No Events Scheduled</h5>
                <h6 class="card-subtitle mb-2 text-muted">Consider adding an event.</h6>
                <p class="card-text">
                    Add an event by clicking the Add Event button below.
        </p>
                
                <a class="btn btn-primary btn-sm" href="{% url 'scheduler:add-event' %}" role="button">
                <svg class="bi d-inline mx-auto mb-1" width="24" height="24" fill="currentColor">
                        <use xlink:href="{% static 'bootstrap-icons-1.8.3/bootstrap-icons.svg' %}#calendar-plus"></use>
                    </svg>

                Add Event</a>
              </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
