{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
{% include 'scheduler/navbar.html' %}   
{% include 'scheduler/messages.html' %}
<div class="p-4 p-md-5 mb-4 text-bg-light rounded">
    <h1>Update Event</h1>
    <h3>Modifying {{ event.name }}</h3>    
    <form method="post">
        {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Update Event</button>
    <a class="btn btn-secondary" href="{% url 'scheduler:index' %}" role="button">Cancel</a>
    <a class="btn btn-danger"  href="{% url 'scheduler:delete-event' pk=event.pk %}">Delete Event</a>  
    </form>
</div>
{% endblock %}
