{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
{% include 'scheduler/navbar.html' %}   
{% include 'scheduler/messages.html' %}
<div class="p-4 p-md-5 mb-4 text-bg-light rounded">
    <h1>Update Event</h1>
    <h3>Modifying {{ event.name }}</h3>    
    <form method="post">
        {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {% if field.name == "repeat" %}
            {% if field.value == True %}
                {{ field.label_tag }} Repeated
            {% else %}
                {{ field.label_tag }} Does not repeat
            {% endif %}
        {% else %}
            {% if field.name == "interval" or field.name == "frequency" or field.name == "occurences"%}
                {{ field.label_tag }} {{field.value}}
            {% else %}
                {{field.label_tag }} {{field}}
            {% endif %}
        {% endif %}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Update Event</button>
    <a class="btn btn-secondary" href="{% url 'scheduler:index' %}" role="button">Cancel</a>
    <a class="btn btn-danger"  href="{% url 'scheduler:delete-event' pk=event.pk %}">Delete Event</a>  
    </form>
</div>
{% endblock %}
